<!DOCTYPE html>
<html>
<head>
    <title>WebRTC Video Stream(s)</title>
</head>
<body>
    <div style="height: 100vh;">
        <!-- The IP under src should match the IP of the pi -->
         <!-- To find the ip: 
         1. check NetGear for the IP address. 
         2. Change only the IP address, the port REMAINS 8889
         3. Delete the extra camera output frames if duplicates -->

        <iframe src="https://www.youtube.com/embed/Z5LyWP5L46c" scrolling="no" style="width: 100%; height: 100%;"></iframe>
    </div>
</body>
</html>