<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script src="static/scripts.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="static/socketio_listener.js"></script>
</head>
<body>
    <div class="default-container">
        <div class="left-container"></div>
        <div class="middle-container">
            <div class="speedo-grid">
                <div class="speedo-container">
                    <canvas id="speedo1" width="200" height="100"></canvas>
                    <br>
                    <label for="slider1">Velocity</label>
                    <input type="range" id="slider1" min="-90" max="90" value="0">
                    <span id="sliderValue1">00</span>°
                </div>
                <div class="speedo-container">
                    <canvas id="speedo2" width="200" height="100"></canvas>
                    <br>
                    <label for="slider2">Velocity</label>
                    <input type="range" id="slider2" min="-90" max="90" value="0">
                    <span id="sliderValue2">00</span>°
                </div>
                <div class="speedo-container">
                    <canvas id="speedo3" width="200" height="100"></canvas>
                    <br>
                    <label for="slider3">Velocity</label>
                    <input type="range" id="slider3" min="-90" max="90" value="0">
                    <span id="sliderValue3">00</span>°
                </div>
                <div class="speedo-container">
                    <canvas id="speedo4" width="200" height="100"></canvas>
                    <br>
                    <label for="slider4">Velocity</label>
                    <input type="range" id="slider4" min="-90" max="90" value="0">
                    <span id="sliderValue4">00</span>°
                </div>
                <div class="speedo-container">
                    <canvas id="speedo5" width="200" height="100"></canvas>
                    <br>
                    <label for="slider5">Velocity</label>
                    <input type="range" id="slider5" min="-90" max="90" value="0">
                    <span id="sliderValue5">00</span>°
                </div>
                <div class="speedo-container">
                    <canvas id="speedo6" width="200" height="100"></canvas>
                    <br>
                    <label for="slider6">Velocity</label>
                    <input type="range" id="slider6" min="-90" max="90" value="0">
                    <span id="sliderValue6">00</span>°
                </div>
                <div class="speedo-container">
                    <canvas id="speedo7" width="200" height="100"></canvas>
                    <br>
                    <label for="slider7">Velocity</label>
                    <input type="range" id="slider7" min="-90" max="90" value="0">
                    <span id="sliderValue7">00</span>°
                </div>
                <div class="speedo-container">
                    <canvas id="speedo8" width="200" height="100"></canvas>
                    <br>
                    <label for="slider8">Velocity</label>
                    <input type="range" id="slider8" min="-90" max="90" value="0">
                    <span id="sliderValue8">00</span>°
                </div>
            </div>
        </div>
        <div class="right-container">
            <div id="internal-data" class="data-container" style="background-color: grey">
                <div id="pressure-data" class="grid-item">0 psi</div>
                <div id="temp-data" class="grid-item">0&deg C</div>
                <div id="humidity-data" class="grid-item">50%</div>
            </div>
            <div id="electrical-data" class="data-container" style="background-color: orange">
                <div id="current-data" class="grid-item">0 A</div>
                <div id="voltage-data" class="grid-item">0 V</div>
            </div>
            <div id="inertial-data" class="data-container" style="background-color: yellow">
                <div id="accel-data" class="grid-item">&lt0, 0, 0&gt m/s^2</div>
                <div id="angular-data" class="grid-item">&lt0, 0, 0&gt rad/s</div>
            </div>
            <div id="external-data" class="data-container" style="background-color: pink;">
                <div id="accel-data" class="grid-item">0 m</div>
            </div>
        </div>
    </div>
</body>