<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script src="static/scripts.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="static/socketio_listener.js"></script>
</head>
<body>
    <div class="default-container">
        <div class="left-container">hkh<br><br><br><br><br></div>
        <div class="right-container">jhkj<br><br><br><br></div>
    </div>
</body>