<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script src="static/scripts.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="static/socketio_listener.js"></script>
</head>
<body>
    <div id="vert-separator"></div></div>
    <div class ="horiz-separator" id="horiz-separator1"></div></div>
    <div class ="horiz-separator" id="horiz-separator2"></div></div>
    <div class ="horiz-separator" id="horiz-separator3"></div></div>
    <div class ="horiz-separator" id="horiz-separator4"></div></div>
    <div class="speedometer-base" id="speedometer-base1"> </div>
    <div class="speedometer-base" id="speedometer-base2"></div>
    <div class="speedometer-base" id="speedometer-base3"></div>
    <div class="speedometer-base" id="speedometer-base4"></div>
    <div class="speedometer-base" id="speedometer-base5"></div>
    <div class="speedometer-base" id="speedometer-base6"></div>
    <input type="range" id="slider1" class="slider" min="-90" max="90" value="0.00">
    <input type="range" id="slider2" class="slider" min="-90" max="90" value="0.00">
    <input type="range" id="slider3" class="slider" min="-90" max="90" value="0.00">
    <input type="range" id="slider4" class="slider" min="-90" max="90" value="0.00">
    <input type="range" id="slider5" class="slider" min="-90" max="90" value="0.00">
    <input type="range" id="slider6" class="slider" min="-90" max="90" value="0.00">
    <div class="internal-temp-display">Temperature: 0°F</div>
    <div class="humidity-display">Humidity: 0g/m<sup>3</sup></div>
    <div class="pressure-display">Pressure: 0psi</div>
    <div class="current-display">Current: 0A</div>
    <div class="voltage-display">Voltage: 0V</div>
    <div class="acceleration-display">Acceleration: 0m/s<sup>2</sup></w></div>
    <div class="ang-velocity-display">Angular Velocity: 0m</div>
    <div class="depth-display">Depth: 0m</div>
    <div class="xyz-display" id="linear-command">x: 0<br>y: 0<br>z: 0</div>
    <div class="pry-display" id="angular-command">Pitch: 0<br>Roll: 0<br>Yaw: 0</div>
    <div class="thruster-display" id="thrust-value1">Thrust: 0.00</div>
    <div class="thruster-display" id="thrust-value2">Thrust: 0.00</div>
    <div class="thruster-display" id="thrust-value3">Thrust: 0.00</div>
    <div class="thruster-display" id="thrust-value4">Thrust: 0.00</div>
    <div class="thruster-display" id="thrust-value5">Thrust: 0.00</div>
    <div class="thruster-display" id="thrust-value6">Thrust: 0.00</div>
    <div class="speedometer-tip" id="speedometer-tip1"></div>
    <div class="speedometer-tip" id="speedometer-tip2"></div>
    <div class="speedometer-tip" id="speedometer-tip3"></div>
    <div class="speedometer-tip" id="speedometer-tip4"></div>
    <div class="speedometer-tip" id="speedometer-tip5"></div>
    <div class="speedometer-tip" id="speedometer-tip6"></div>
</body>
</html>
