# This file contains all of the dependencies for the ROV X16 frontend user interface
# To install all of the dependencies, run the following command:
# pip install -r X16-Surface/ui/requirements.txt

Command==0.1.0
gst==0.1.0
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2

